################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RayTracerRedone/cmake-build-debug
/cmake-build-debug
/cmake-build-debug-wsl
/cmake-build-release-wsl
/build
/.idea
/build/
/build/.cmake/
/build/CMakeFiles/
/build/build.ninja
/build/cmake_install.cmake
/build/CMakeCache.txt
/build/compile_commands.json
/cmake-build-debug/
/cmake-build-minsizerel/
/cmake-build-release/
/cmake-build-relwithdebinfo/
/RayTracerRedone/.vs/
/RayTracerRedone/Debug/
/RayTracerRedone/Release/
